body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container-home {
  max-width: 1470px !important;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: #fff;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

header h1:hover {
  color: #ff5733;
  transform: scale(1.1);
}

/* .banner img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
} */

.banner {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.my-swiper {
  width: 100%;
  height: auto;
}

.banner-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.title-header  {
  font-size: 150px;
  font-weight: bold;
  color: #ff6600; 
  text-align: start; 
  padding: 10px 0;
  text-transform: uppercase;
  border-bottom: 3px solid #ff6600;
  margin-bottom: 20px;
}

.events {
  padding: 40px;
  text-align: center;
}
.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia thành 4 cột */
  gap: 15px;
}

.event-item {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}


.event-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.event-item img:hover {
  transform: scale(1.05);
}
.content-home{
  padding-top: 10px;
}

.title-event {
  padding-left: 5px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  font-family:"Roboto";
}
.event-date {
  padding-left: 5px;
  font-size: 16px;
  display: flex;
}

.category-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  text-align: left;
  color: #ff5733;
}